%section{ :id => "main"}
  - if @record.errors.any?
    %div
      %h4{:class => 'alert_error'}= @record.errors.messages[:gtin].first
  - else
    %div
      %h4{:class => 'alert_success'}= @record.name
      %br
      %div{:class => "tab_container"}
        %div{:class => "tab_content"}
          %table{:class => "tablesorter", :cellspacing => "0"}
            %thead
              %tr
                %th= "Seller Name   (Total: #{@record.product_offers.count} seller/s)"
                %th{:style => 'text-align: right;'} Base Price
                %th{:style => 'text-align: right;'} Total Price
            %tbody
            - @record.product_offers.each do |offer|
              %tr
                %td= offer[:seller_name]
                %td{:style => 'text-align: right;'}= "%15.2f" % offer[:base_price]
                %td{:style => 'text-align: right;'}= "%15.2f" % offer[:total_price]
